body {
	font-family: Verdana;
	background-color: #f68fe0;
}

h1 {
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 20px;
	padding-bottom: 20px;
}

.hint{ 
	text-align: center;
	font-size: 25px;
 }

.btn-group {
	justify-content: center;
	margin-left: 32%;
	margin-right: 32%;
}

.btn.btn-outline-secondary {
	color: #140cb0;
	padding: 20px 36px;
	border-radius: 8px;
	border: 2px solid #140cb0;
	font-size: 25px;
}

.btn.btn-outline-secondary:hover {
	background-color:#140cb0;
	color: #f68fe0;
	border: 2px solid #f68fe0;
}